$colorh1 : rgb(226, 226, 226);
$gradiente: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(20, 30, 48, 1) 0%, rgba(36, 59, 85, 1) 100%);
$colorInput: #80868b;
$fondo: #f6f6f6;
$primary: #243b55;
$fuente: roboto, sans-serif;
$colorh1 : rgb(226, 226, 226);
$gradiente: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(20, 30, 48, 1) 0%, rgba(36, 59, 85, 1) 100%);

$colorInput: rgb(123, 50, 50);
$QUEM: rgb(108, 137, 222);
$fondo: rgb(235, 240, 269);
$primary: #243b55;
$hoverBotones: #121d29;
$fuente: roboto, sans-serif;
$letraNormal: 0.95rem;
$letraPeuqeña: 0.75rem;