<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <title>Contáctanos</title>
</head>
<body>
    <h1>Porfavor contacta con el administrador.</h1>
    <script>
        let pop = Swal.fire({
            icon: 'info',
            title: '¿ Olvidaste tu codigo ? ',
            text: 'La entidad que administra la aplicación es responsable de administrar los *codigos de acceso para los usuarios. \n Porfavor contacta con el administrador.😊',
            footer: '<a href="/registrar">Quiero Registrarme</a>',
            allowOutsideClick: false,
            allowEscapeKey: false,
            allowEnterKey: false,
            showConfirmButton: false
        });
    </script>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;500;700&family=Mochiy+Pop+One&family=Montserrat+Alternates:wght@100;200;400;600;800&display=swap');

        @import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700&display=swap');

        /*

    font-family: 'Mochiy Pop One', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
    font-family: 'Montserrat Alternates', sans-serif;
  
  */
        #acento{
            font-weight: bold;
        }

        .swal2-popup {
            font-family: 'Montserrat Alternates', sans-serif;
            font-size: 16px;
        }

        .swal2-title {
            font-family: 'Montserrat Alternates', sans-serif;
            font-size: 24px;
        }

        .swal2-content {
            font-family: 'Montserrat Alternates', sans-serif;
            font-size: 18px;
        }

        h1{
            text-align: center;
            font-family: 'Montserrat Alternates', sans-serif;
            color: royalblue;
        }
    </style>
</body>
</html>