@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;500;700&family=Mochiy+Pop+One&family=Montserrat+Alternates:wght@100;200;400;600;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700&display=swap");

:root {
    --primerColor: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(20,30,48,1) 0%, rgba(36,59,85,1) 100%);
    
    --colorInput: #80868b;
  
    --fondo: #f6f6f6;
      --primary: #243b55;
    --fuente: roboto, sans-serif;
    --letraNormal: 0.95rem;
    --letraPeuqeña: 0.75rem;
  }

.infoPop{
    margin-bottom: 3px;
    margin-top: 2px;
    color: var(--primary);
    text-align: left;
    margin-left: 5px;
    font-size: 12px;
    background: crimson;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    font-family: 'Montserrat Alternates', sans-serif;
    background: transparent;
}

.imagenBody{
  height: 345px;
  border-radius: 20px;
  background-color: crimson;
  align-self: center;
}