@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;500;700&family=Mochiy+Pop+One&family=Montserrat+Alternates:wght@100;200;400;600;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700&display=swap");



:root {
    --primerColor: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(20,30,48,1) 0%, rgba(36,59,85,1) 100%);
    
    --colorInput: #80868b;
  
    --fondo: #f6f6f6;
      --primary: #243b55;
    --fuente: roboto, sans-serif;
    --letraNormal: 0.95rem;
    --letraPeuqeña: 0.75rem;
  }
  
  *,
  ::after,
  ::before {
    box-sizing: border-box;
  }
  
  body {
    margin: 0%;
    padding: 0%;
    font-family: var(--fuente);
    font-size: var(--letraNormal);
  }
  
  h1 {
    margin: 0;
  }

  p.top {
    margin-top: 15px;
  }
  
  .cont-formulario {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: var(--primerColor);
    text-align: center;
  }
  
  .cont-formulario .cont-icono{
      display: flex;
      justify-content: center;
      margin-top: 20px;
  }
  
  .cont-formulario #icono{
      font-size: 80px;
      color: var(--primary);
      filter: drop-shadow(0px 0px 2px var(--primary));
  }

  .cont-logo{
    display: none;

  }
  
  .formulario {
    width: 98%;
    max-width: 500px;
    padding: 2.5rem 2rem;
    box-shadow: 0 10px 25px rgba(92, 99, 105, 0.2);
    background-color: var(--fondo);
    height: 100vh;
    display: grid;
    place-content: center;
    gap: 5px;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .quemappText{
    color: rgb(155, 155, 155);
    margin-top: 60px;
  }
  
  .form_titulo {
    font-weight: 600;
  }
  
  .form_div {
    position: relative;
    height: 46px;
    width: 350px;
    margin: 10px;
    
  }
  
  .form_input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: var(--letraNormal);
    border: 1px solid var(--colorBorde);
    border-radius: 0.5rem;
    outline: none;
    padding: 1rem;
    background: rgb(224, 224, 224);
    z-index: 1;
    padding-left: 40px;
  }
  
  .form_label {
    position: absolute;
    left: 2rem;
    top: 1rem;
    padding: 0 0.25rem;
    background : none;
    color: rgb(152, 152, 152);
    font-size: var(--letraNormal);
    transition: 0.3s;
    z-index: 3;
  }
  
  .cont-button{
      display: flex;
      justify-content: center;
      gap: 8px;
      font-family: "Montserrat Alternates", sans-serif;
      font-weight: 200;
  }
  
  .form_boton {
      margin-top: 10px;
    display: block;
    padding: 1rem;
    outline: none;
    border: none;
    background: var(--primary);
    color: #fff;
    font-size: var(--letraNormal);
    border-radius: 0.5rem;
    cursor: pointer;
    transition: 0.3s;
    width: 70%;
    align-self: center;
    transition:all .3s linear;
  }
  
  .boton-registro{
    background: var(--primary);
  }
  
  .boton-registro:hover {
    transition:all .3s linear;
    background : #121d2a;
  }
  
  .form_input:focus + .form_label {
    top: -0.5rem;
    left: 0.8rem;
    color: var(--primerColor);
    font-size: var(--letraPeuqeña);
    font-weight: 500;
    z-index: 10;
    background-color: var(--fondo);
    color: #80868b;
  }
  
  .form_input:not(:placeholder-shown).form_input:not(:focus) + .form_label {
    top: -0.9rem;
    left: 0.8rem;
    font-size: var(--letraPeuqeña);
    font-weight: 500;
    z-index: 10;
    color: transparent;
  }
  
  .form_input:focus {
    border: 1.5px solid var(--primary);
    background : none;
  }

  .icon-input{
    position: absolute;
    z-index: 10;
    font-size: 20px;
    margin-top: 12px;
    left: 10px;
    color: rgb(168, 168, 168);
  }

  .cont-logo .quemappTextlogo{
    font-size: 10px;
  }

  .info{
    font-size: 10px;
    color: crimson;
    text-align: left;
    margin-left: 20px;
  }

  .infoPop{
    margin-bottom: 3px;
    margin-top: 2px;
    color: var(--primary);
    text-align: left;
    margin-left: 5px;
    font-size: 13px;
    background: var(--fondo);
    padding: 10px;
    border-radius: 10px;
    text-align: center;
  }

  .err{
     /*ESTILOS DE ERROR*/
     border: 1px solid crimson;
     box-shadow: 0px 0px 4px 1px rgb(95, 11, 28);
     color: crimson;
  }

  .pop-ok{
    display: none;
  }

  
  
  /*PANTALLAS TABLETS Y MAS*/
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 630px) {
    .cont-formulario{
      justify-content: end;
    }

    .cont-logo{
      width: 90%;
      height: 400px;
      display: block;
      margin: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .cont-logo .quemappTextlogo{
      color: white;
      font-size: 3vw;
      z-index: 10;
      font-family: "Mochiy Pop One", sans-serif;
      transition: all .2s ease;
    }

    .cont-logo .quemappTextlogo .quem{
      color: rgb(166, 187, 250);
    }

    .cont-logo .quemappTextlogo .quem i {
      color: rgb(226, 226, 226);
    }

    .cont-logo #img-icon2 {
      margin-top: 20px;
      display: block;
      color: rgba(128, 128, 128, 0.426);
      filter: blur(2px);
      padding: 10px;
      position: absolute;
      font-size: 10vw;
      transform: rotate(35deg);
      z-index: 1;
      transition: all .2s ease;
    }

    .formulario{
    margin-right: 80px;
      height: auto;
      border-radius: 50px;
      max-width: 400px;
    }

    .formulario p{
        margin-top: 10px;
    }
    .quemappText{
      display: none;
    }
  
  }

  @media only screen and (min-width: 800px) {
    .cont-logo .quemappTextlogo{
      color: white;
      font-size: 5vw;
      transition: all .2s ease;
    }

    .cont-logo #img-icon2 {
      margin-top: 60px;
      font-size: 20vw;
      transition: all .2s ease;
      filter: blur(5px);
    }
  }