
:root {
  --primerColor: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(20,30,48,1) 0%, rgba(36,59,85,1) 100%);
  
  --colorInput: #80868b;

  --fondo: #f6f6f6;
    --primary: #243b55;
  --fuente: roboto, sans-serif;
  --letraNormal: 0.95rem;
  --letraPeuqeña: 0.75rem;
}

*,
::after,
::before {
  box-sizing: border-box;
}

body {
  margin: 0%;
  padding: 0%;
  font-family: var(--fuente);
  font-size: var(--letraNormal);
}

h1 {
  margin: 0;
}

.cont-formulario {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: var(--primerColor);
  text-align: center;
}

.cont-formulario .cont-icono{
    display: flex;
    justify-content: center;
    top: 20px;

    animation: bounceIn;
    animation-duration: 1s;
}

.cont-formulario #icono{
  margin-top: 20px;
    font-size: 40px;
    color: var(--primary);
}

.formulario {
  width: 98%;
  max-width: 500px;
  padding: 2.5rem 2rem;
  box-shadow: 0 10px 25px rgba(92, 99, 105, 0.2);
  background-color: var(--fondo);
  height: 100vh;
  display: grid;
  place-content: center;

  
}

.quemappText{
  color: gray;
  margin-top: 20px;
  bottom: 30px;
  font-size: 20px;
  animation: bounceIn;
    animation-duration: 3.5s;
}

.form_titulo {
  font-weight: 600;

  animation: bounceIn;
    animation-duration: 1.2s;

}

.show-first{
  gap: 5px;
}

.show-second{
  display: none;
}

.row{
  display: grid;
  place-content: center;
}

.form_div {
  position: relative;
  height: 46px;
  width: 350px;
  margin: 6px;
}

.i1{
  animation: bounceIn;
  animation-duration: 1.4s;
}
.i2{
  animation: bounceIn;
  animation-duration: 1.5s;
}
.i3{
  animation: bounceIn;
  animation-duration: 1.6s;
}
.i4{
  animation: bounceIn;
  animation-duration: 1.7s;
}
.i5{
  animation: bounceIn;
  animation-duration: 1.8s;
}
.i6{
  animation: bounceIn;
  animation-duration: 1.9s;
}
.i7{
  animation: bounceIn;
  animation-duration: 1.4s;
}
.i8{
  animation: bounceIn;
  animation-duration: 1.5s;
}
.i9{
  animation: bounceIn;
  animation-duration: 1.6s;
}
.i10{
  animation: bounceIn;
  animation-duration: 1.7s;
}


.form_input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: var(--letraNormal);
  border: 1px solid var(--colorBorde);
  border-radius: 0.5rem;
  outline: none;
  padding: 1rem;
  background: rgb(209, 209, 209);
  z-index: 1;

}

.form_label {
  position: absolute;
  left: 1rem;
  top: 1rem;
  padding: 0 0.25rem;
  background : none;
  color: rgb(168, 168, 168);
  font-size: var(--letraNormal);
  transition: 0.3s;
  z-index: 100;
}

.cont-button{
    display: flex;
    justify-content: center;
    gap: 8px;

    animation: bounceIn;
    animation-duration: 2s;
}

.form_boton {
    margin-top: 10px;
  display: block;
  padding: 1rem;
  outline: none;
  border: none;
  background: var(--primary);
  color: #fff;
  font-size: var(--letraNormal);
  border-radius: 0.5rem;
  cursor: pointer;
  transition: 0.3s;
  width: 70%;
  align-self: center;
  transition:all .3s linear;
}

.boton-registro{
  background: var(--primary);
  display: none;
}

.boton-back{
  display: none;
  background: gray;
}

.form_boton:hover {
  transition:all .3s linear;
  background : var(--primary);
}

.form_input:focus + .form_label {
  top: -0.5rem;
  left: 0.8rem;
  color: var(--primerColor);
  font-size: var(--letraPeuqeña);
  font-weight: 500;
  z-index: 10;
  background-color: var(--fondo);
  color: #80868b;
}

.form_input:not(:placeholder-shown).form_input:not(:focus) + .form_label {
  top: -0.9rem;
  left: 0.8rem;
  font-size: var(--letraPeuqeña);
  font-weight: 500;
  z-index: 10;
  color: transparent;
}

.form_input:focus {
  border: 1.5px solid var(--primary);
  background : none;
}

.seleccion{
  font-size: 13px;
  z-index: auto;
  height: 100%;
}

.seleccion option{
  height: 100%;
  font-size: 12px;
  color: gray;
  min-height: 35px;
  padding: 20px;
  z-index: 999;
}

.err{
  border: 1px solid rgb(174, 33, 61);
  box-shadow: 0px 0px 3px 1px crimson;
}

.info{
  margin-bottom: 3px;
  margin-top: 2px;
  color: var(--primary);
  text-align: left;
  margin-left: 5px;
  font-size: 13px;
  background: var(--fondo);
  padding: 10px;
  border-radius: 10px;
  text-align: center;
}

.inputText{
  background-color: crimson;
}

.contenedor-info{
  animation: bounceIn;
  animation-duration: 2.1s;
}

.contenedor-info p{
  margin: 0;
  margin-top: 5px;
  font-size: 12px;
}

 /*PANTALLAS TABLETS Y MAS*/
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
    .cont-formulario{
      justify-content: end;
    }
    .formulario{
      height: 94vh;
      min-height: 550px;
      max-height: 600px;
      border-radius: 30px;
      margin-right: 40px;
      display: block;

      animation: fadeInRight;
  animation-duration: 1s;

    }
    .quemappText{
      display: none;
    }

    .row{
      display: flex;
      align-items: center;
      height: 60px;
      gap: 15px;
    }

    .show-second{
      display: block;
    }
    
    .boton-next{
      display: none;
    }

    .boton-back{
      display: none;
    }

    .boton-registro{
      display: block;
    }

  }



